/* .roomList{
    background: #a0a0a0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    margin: 10px;
    border-radius: 15px;
    padding: 20px;
    min-width: 400px;
}

.roomItems{
    position: relative;
}
.roomItems .addToCart{
    position: absolute;
    top: 0;
    right: 0;
    background: #0084ff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.booking h2{
    text-align: center;
    padding: 20px;
    font-size: 50px;
    font-weight: bold;
    color:white;
}

.booking p{
    text-align: center;
    color:white;
} */

body, html{
    background-color: white;
    color: #333333;
    font-size: 1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    line-height: 1.3;
    word-break: break-word;
}
*{
    box-sizing: border-box;
}
.pageWrapper{
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: foine;
}
.user-bar_container {
    background: #fff;
}

.user-bar_wrapper{
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: stretch;
    display: flex;
    position: relative;
    max-width: 1280px;
    margin: 0 auto;
}

.user-bar_left{
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.user-bar_logo{
    display: inline-block;
    vertical-align: middle;
    background-image: url(https://firebasestorage.googleapis.com/v0/b/hapbee-hotel.appspot.com/o/logo1_hapbee.png?alt=media&token=83ef85cb-294c-49ef-b03e-d6e59349ae23);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100px;
    width: 235px;
    margin: .5rem .5rem .5rem 0;
    flex-shrink: 0;
    border-bottom: 0;
    transition: transform 0.3s ease-in-out;
}

.user-bar_logo:hover{
    transform: scale(1.1);
}

.user-bar_right{
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.hotel-info_container{
    margin: 0.5rem 0;
    position: relative;
}

.hotel-info_container button{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #333333;
    font-weight: 400;
    font-size: 13px;
    text-decoration: none;
    text-transform: uppercase;
    background: transparent;
    border: 0;
    padding: 0;
    margin-right: 100px;
    transition: transform 0.3s, text-decoration 0.3s;
}

.hotel-info_container button:hover{
    background-color: transparent;
    transform: translateY(-5px);
}

.hotel-info_container button:hover::after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5px;
    height: 1px;
    background-color: #333333;
}

.icon_hotel{
    display: inline-block;
    line-height: 1em;
    font-size: 1em;
    vertical-align: foine;
    font-weight: normal;
    margin-right: 5px;
    transition: transform 0.2s;
}

.hotel-info_container>button:hover .icon_hotel {
    transform: translateY(-0.5px); /* Hiệu ứng bounce cho icon */
}

.myaccount-container_container{
    margin: .5rem 0 .5rem 2rem;
}

.myaccount-container_user{
    position: relative;
}

.myaccount-container_user>button{
    background: none;
    border: 0;
    padding: 0;
    user-select: none;
    outline: none;
    cursor: pointer;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #333333;
    font-weight: 400;
    font-size: 13px;
    text-decoration: none;
    text-transform: uppercase;
    transition: transform 0.3s, text-decoration 0.3s;
}

.myaccount-container_user>button:hover{
    background-color: transparent;
    transform: translateY(-5px);
}

.myaccount-container_user button:hover::after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5px;
    height: 1px;
    background-color: #333333;
}

.icon_user{
    display: inline-block;
    line-height: 1em;
    font-size: 1em;
    vertical-align: foine;
    font-weight: normal;
    margin-right: 5px;
    transition: transform 0.2s;
}

.myaccount-container_user>button:hover .icon_user {
    transform: translateY(-0.5px); /* Hiệu ứng bounce cho icon */
}

.hero-image_hero{
    position: relative;
    overflow: hidden;
    height: 450px;
}

.hero-image_image{
    background-image: url(https://firebasestorage.googleapis.com/v0/b/hapbee-hotel.appspot.com/o/hero_image_booking.jpg?alt=media&token=c40f3a1f-1d9d-4bc1-97e9-b4c71e736e5f);
    height: 650px;
    transform: translateY(119.333px);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.app-container{
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.hero-image_hotelDetails{
    position: absolute;
    bottom: 0;
    max-width: 370px;
    padding: 1rem;
    background: rgba(255,255,255,0.75);
    color: #333333;
    font-weight: 400;
    margin-left: 100px;
}

.hero-image_hotelName{
    margin-bottom: 1rem;
}

.app_modalTitle{
    font-feature-settings: 'dlig' 0, 'liga' 0, 'lnum' 1, 'kern' 1;
    margin: 0;
    color: #333333;
    font-size: 1.6rem;
    font-weight:lighter;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: none;
    line-height: 1.3;
}
.hero-image_address{
    display: flex;
    margin-bottom: 1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 20px;
}
p{
    font-feature-settings:'kern' 1, 'liga' 0;
    margin: 0 0 0.5rem;
}
.hero-image_addressIcon{
    padding-top: 10px;
    font-size: 20px;
    padding-right: 10px;
}
.hero-image_addressIcon:before{
    vertical-align: top;
    font-size: 1.2rem;
    display: inline-block;
    line-height: 1em;
    font-weight: normal;
}

.sr-only{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

.hero-image_phone{
    display: flex;
    margin-bottom: 1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 20px;
}

.hero-image_phoneIcon{
    padding-top: 10px;
    font-size: 20px;
    padding-right: 10px;
}

.hero-image_phoneIcon:before{
    vertical-align: top;
    font-size: 1.2rem;
    display: inline-block;
    line-height: 1em;
    font-weight: normal;
}

.hero-image_phone a{
    padding-top: 5px;
}

.app_page-animation{
    animation: appFadeIn 0.8s;
    position: relative;
}

@keyframes appFadeIn{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

.product-availability-container_section{
    padding-bottom: 2rem;
    background-color: white;
}

.app_row{
    display: flex;
    flex-wrap: wrap;
    margin-left: 300px;
    margin-right: 300px;
}

@media (min-width: 1025px){
    .app_col-lg-8{
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }
}

@media (min-width: 768px){
    .app_col-md-12{
        -webkit-box-flex: 0;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.app_col-lg-8, .app_col-md-12, .app_col-sm-12{
    position: relative;
    min-height: 1px;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    padding-top: 1rem;
    width: 100%;
}

header{
    display: block;
    unicode-bidi: isolate;
}

main{
    display: block;
}

.search-bar-container_wrapper{
    margin-bottom: 1rem;
    position: relative;
}

.search-bar-container_inner{
    background: #fff;
    border: 1px solid rgba(148, 135, 138, 0.3);
    border-radius: 0;
    position: relative;
}

.search-bar-container_top {
    position: relative;
    display: flex;
    justify-content: space-between;
    /* background: rgb(148, 172, 193); */
}

.search-bar-container_guestsWrapper{
    display: flex;
    position: relative;
    flex-grow: 2;
}

html[dir=ltr] .search-bar-container_guests{
    border-right: 1px solid rgba(148, 135, 138, 0.3);
}

.search-bar-container_guests{
    background:none;
    border-right: 1px solid rgba(148, 135, 138, 0.3);
    user-select: none;
    outline: none;
    cursor: pointer;
    text-align: left;
    vertical-align: middle;
    position: relative;
    color: #333333;
    font-weight: 400;
    font-size: 1rem;
    flex-grow: 2;
}

.search-bar-container_guests.search-bar-container_selected {
    background: #EAEAEC;
}

html[dir=ltr] .search-bar-container_guests .icon-guest {
    left: 1rem;
}

html[dir=ltr] .search-bar-container_guests::before{
    margin-right: .25em;
}

.search-bar-container_guests .icon-guest{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px
}

.search-bar-container_guests::before{
    display: inline-block;
    line-height: 1em;
}

.search-bar-container_guests .search-bar-container-guest_label{
    font-weight: 700;
    display: block;
    font-size: 20px;
    padding-left: 40px;
    color: #666;
}

html[dir=ltr] .search-bar-container_caret {
    left: 1.5rem;
}

.search-bar-container_caret{
    background: #fff;
    content: '';
    display: inline-block;
    height: 1rem;
    position: absolute;
    bottom: -2rem;
    left: 2rem;
    transform: translate(-50%, -50%) rotate(45deg);
    width: 1rem;
    border-top: 1px solid rgba(148, 135, 138, 0.3);
    border-left: 1px solid rgba(148, 135, 138, 0.3);
    z-index: 10000;
}

html[dir=ltr] .search-bar-container_checkIn{
    border-right: 1px solid rgba(148, 135, 138, 0.3);
}

.search-bar-container_checkIn{
    border-right: 1px solid rgba(148, 135, 138, 0.3);
    background: none;
    user-select: none;
    outline: none;
    cursor: pointer;
    text-align: left;
    vertical-align: middle;
    padding: .5rem .5rem .5rem 3rem;
    position: relative;
    color: #666;
    font-weight: 400;
    font-size: 1rem;
    flex-grow: 2;
}

header, div, fieldset, legend, span{
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

html[dir=ltr] .search-bar-container_checkIn .icon-calendar{
    margin-left: 10px;
}

.search-bar-container_checkIn .icon-calendar{
    margin-left: -30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px
}

.search-bar-container_checkIn .search-bar-container-calendar_label{
    font-weight: 700;
    color: #666;
    display: block;
    font-size: 20px;
    padding-left: 10px;
}

.search-bar-container_checkOut{
    border-right: 1px solid rgba(148, 135, 138, 0.3);
    border-right-width: 0;
    border-bottom: 0;
    background: none;
    border: 0;
    user-select: none;
    outline: none;
    cursor: pointer;
    text-align: left;
    vertical-align: middle;
    padding: .5rem .5rem .5rem 3rem;
    position: relative;
    color: #666;
    font-weight: 400;
    font-size: 1rem;
    flex-grow: 2;
}
.search-bar-container_checkOut .icon-calendar{
    margin-left: -30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px
}

.search-bar-container_checkOut .search-bar-container-calendar_label{
    font-weight: 700;
    color: #666;
    display: block;
    font-size: 20px;
    padding-left: 10px;
}

.guests-selection-flyout_container{
    left: 0;
    padding: 1rem 1rem 0.5rem;
    background: #fff;
    border: 1px solid rgba(148, 135, 138, 0.3);
    box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
    border-radius: 0;
    margin-top: 1rem;
    position: absolute;
    top: 100%;
    z-index: 999;
    width: 275px;
}

fieldset{
    min-width: inherit;
    width: 100%;
    display: block;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
}

.guests-selection-flyout_container fieldset>legend {
    display: block;
    width: 100%;
}

legend{
    box-sizing: border-box;
    color: inherit;
    max-width: 100%;
    white-space: normal;
    padding-inline-start: 2px;
    padding-inline-end: 2px;
    unicode-bidi: isolate;
}

.guests-selection-flyout_guestHeading{
    margin-bottom: 1rem;
    border-bottom: 1px solid rgba(148, 135, 138, 0.3);
}

.guests-selection-flyout_guestHeading h2 {
    padding: 0 1rem 1rem 0;
}

.app_subheading2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.3;
    margin: 0;
}

.guests-selection-flyout_closeButton{
    display: block;
    min-height: 48px;
    min-width: 48px;
    background: transparent;
    border: 0;
    color: black;
    position: absolute;
    top: 5px;
    right: -1px;
    /* right: 1rem;
    padding: 1rem;
    cursor: pointer;
    margin: -1rem -1rem 0 0; */
}

.guests-selection-flyout_closeButton .icon-close_guest{
    margin-right: 0;
    font-size: 15px;
    font-weight: bold;
    display: inline-block;
    line-height: 1em;
    font-family: 'spark-icon-line';
    vertical-align: baseline;
}

.guests-selection-flyout_container{
    display: none;
}

.guests-selection-flyout_container.open{
    display: block;
}
.search-bar-container_caret{
    display: none;
}
.search-bar-container_caret.open{
    display: block;
}

.overlay-background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 999;
}

.search-bar-container_wrapper {
    background-color: white;
    z-index: 9990;
}

.guest-quantity-selection_container{
    display: table;
    border-collapse: separate;
    border-spacing: 1rem;
    margin: 0 -1rem;
}

.guest-quantity-selection_container>div {
    display: table-row-group;
}

.guest-quantity-selection_container>div div.quantity-selection_container{
    display: table-row;
    word-break: normal;
}

@media (min-width: 1025px){
    .guest-quantity-selection_container>div div.quantity-selection_container>span{
        display: table-cell;
        color: black;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
}

@media (min-width: 1025px){
    .guest-quantity-selection_container>div .quantity-selection_wrapper {
        display: table-cell;
    }
}

.quantity-selection_wrapper{
    max-width: 250px;
    position: relative;
}

.quantity-selection_wrapper button:first-child{
    left: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    width: 30%;
    height: 90%;
    padding: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    line-height: 3.5em;
}

.quantity-selection_wrapper button:last-child {
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    width: 30%;
    height: 90%;
    padding: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    line-height: 3.5em;
}


.button_primary{
    word-break: normal;
    font-size: 1.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
    background: #333333;
    border: 1px solid transparent;
    color: #CFCED3;
}

.button_btn {
    cursor: pointer;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    overflow: hidden;
    position: relative;
    text-align: center;
    transition-duration: 100ms;
    transition-property: background-color, color, border-color, box-shadow;
    transition-timing-function: ease-in-out;
    white-space: nowrap;
    z-index: 5;
}

.button_subtract .icon-minus {
    margin-right: .10em;
    display: inline-block;
    line-height: 1em;
    font-family: 'spark-icon-line';
    font-size: 1em;
    vertical-align: baseline;
    font-weight: normal;
    margin-bottom: 8px;
}

.button_add .icon-plus {
    margin-left: .10em;
    display: inline-block;
    line-height: 1em;
    font-family: 'spark-icon-line';
    font-size: 1em;
    vertical-align: baseline;
    font-weight: normal;
    margin-bottom: 8px;
}


.quantity-selection_container .input-field_container input {
    padding-top: 0;
}

.input-field_container input {
    height: auto;
    line-height: 1;
    padding-top: 1.5em;
}

.quantity-selection_wrapper input {
    text-align: center;
}

[type=text]{
    border-radius: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    min-height: 3.5em;
    color: #222;
    border: 1px solid rgba(148, 135, 138, 0.3);
    padding: 0 .75rem;
    width: 100%;
    background: white;
}

.number-of-people{
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: inherit;
    top: -0.2rem;
    line-height: 1.5;
    left: 2.5rem;
}

.button_group{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.button_group button{
    margin: .5rem 0 .5rem 2rem;
}

.button_link{
    word-break: normal;
    font-size: 1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    text-transform: none;
    color: #333333;
    text-decoration: underline;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
    transition: color 150ms;
    background: none;
    border: 0;
    padding: 0;
}

.button_sm {
    line-height: 1rem;
    padding: 0.75rem 1.25rem;
}